<div class="container" >
    
    <h3 data-bind="visible:shell.lang() == 'he'">4XFF - פרוייקט WWFF ישראלי</h3>
    <h3 style="direction:ltr" data-bind="visible:shell.lang() == 'en'">4XFF - Israeli WWFF Program</h3>

    <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i0">
                     חוקים
                </a>
            </h4>
        </div>
            <div id="i0" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h1 class="text-center">חוקי התוכנית</h1>
                        <div class="row-fluid text-right">
                            <p>מפעילים</p>
                            <ul>
                                <li>
                                    בעת פעילות מתוך איזור מוגן (שמורת טבע, פארק לאומי) שנכלל <a href="#NationalParks" style="text-decoration:underline">ברשימת אתרי 4XFF</a> על כל הציוד (אנטנות, מקמ"שים, ספקי-כח וכו\') להימצא בתוך גבולות האיזור.
                                </li>
                                <li>
                                    על המפעילים לציית לחוק ולדרישות פקחי שמורות הטבע והפארקים.
                                </li>
                                <li>כל ההפעלות במסגרת התוכנית חייבות להיות תחת מזהה 4XFF. אין להפעיל שנים או יותר מזהים בו זמנית.</li>
                                <li>
                                    כל תחומי התדר (HF,VHF,UHF) והמודים (CW,SSB,FM,DIGI) מותרים.
                                </li>
                                <li>
                                    כדי שהפעלה תיחשב תקפה לצורך קבלת תעודת "מפעיל", עליה לכלול לפחות 44 קשרים עם תחנות שונות.
                                </li>
                                <li>על כל הפעלה לארוך לפחות שעתיים.</li>
                                <li>על המפעילים לספק קובץ לוג אלקטרוני בפורמט ADIF לכתובת <a href="mailto:gilifon@gmail.com" style="text-decoration:underline">gilifon@gmail.com</a></li>
                                <li>
                                    את בקשת התעודה יש להגיש דרך <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">אתר התוכנית</a>
                                </li>
                            </ul>
                            <p>ציידים</p>
                            <ul>
                                <li>
                                    כל תחומי התדר (HF,VHF,UHF) והמודים (CW,SSB,FM,DIGI) מותרים.
                                </li>
                                <li>
                                    כל קשר שהתבצע עם מפעיל תקף עבור קבלת תעודת "צייד" ללא קשר למספר הקשרים שנעשו באותה הפעלה.
                                </li>
                                <li>
                                    את בקשת התעודה יש להגיש דרך <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">אתר התוכנית</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i1">
                        Rules
                    </a>
                </h4>
            </div>
            <div id="i1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <h1 class="text-center">4XFF Program Rules</h1>
                            <div class="row-fluid text-left">
                                <p>Activators</p>
                                <ul>
                                    <li>
                                        While working within a protected area (Nature Reserve or Park) included in the <a href="#NationalParks/en" style="text-decoration:underline">list of the 4XFF</a> program,
                                        all equipment (antennas, transceiver, power supply ect.) must be within the
                                        boundaries of the territory.
                                    </li>
                                    <li>
                                        Activators must fully comply with the requirements of administration and rules of conduct for this protected area.
                                    </li>
                                    <li>Activity is allowed only under an identifier (4XFF reference). It is not allowed to work under the identifiers of two or more protected areas at a time.</li>
                                    <li>Contacts are allowed in all bands and modes.</li>
                                    <li>
                                        For all activations a minimum of 44 qso\'s with different callsigns are needed for the activation to be valid.
                                    </li>
                                    <li>Each activation must have a minimum duration of 2 hours.</li>
                                    <li>The activator must provide an electronic log file in ADIF format to the following email: <a href="mailto:gilifon@gmail.com" style="text-decoration:underline">gilifon@gmail.com</a>.</li>
                                    <li>Certificate requests should be sent through the <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">program website</a></li>
                                </ul>
                                <p>Hunters</p>
                                <ul>
                                    <li>Contacts are allowed in all bands and modes.</li>
                                    <li>
                                        All QSO’s are valid for hunters, regardless of the number for QSO’s made in the activation.
                                    </li>
                                    <li>Certificate requests should be sent through the <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">program website</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i2">
                        פרסים
                    </a>
                </h4>
            </div>
            <div id="i2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        הפרסים יינתנו בשתי קטגוריות, "מפעילים" ו "ציידים".<br />
                        "מפעילים" הם חובבים שמפעילים את הציוד שלהם מתוך שמורות הטבע והפארקים שמשתתפים בתוכנית.<br />
                        "ציידים" הם חובבים שמבצעים קשרים או מתעדים קשרים (מאזינים) עם "מפעילים".<br />
                        כל מי שזכאי לפרס, יוכל לקבל קובץ אלקטרוני, באיכות גבוהה מאוד, להדפסה עצמית ובחינם!
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i3">
                        Awards
                    </a>
                </h4>
            </div>
            <div id="i3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The Awards are available to 'Activators' and 'Hunters'.<br />
                        'Activators' are those amateurs who operate portable from within designated NR or Parks in Israel.<br />
                        'Hunters' are those amateurs who make contact or log contact (SWL's) with 'Activators'.<br />
                        All Awards are free of charge for a self printing, super high quality PNG file.<br />
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i4">
                        תעודות
                    </a>
                </h4>
            </div>
            <div id="i4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>חובבי רדיו יהיו זכאים לקבל תעודות במספר קטגוריות:</p>
                    למפעילים:
                    <ul>
                        <li><strong>תעודת הפעלה קבוצתית</strong>: על הפעלה ממקטע בשביל ע"י קבוצה של 5 חובבי רדיו ומעלה</li>
                        <li>
                            <strong>תעודת מפעיל מתחיל</strong>: על הפעלה מ 10 מקטעים או יותר
                        </li>
                        <li>
                            <strong>תעודת מפעיל מתמיד</strong>: על הפעלה מ 20 מקטעים או יותר
                        </li>
                        <li>
                            <strong>תעודת מפעיל נחוש</strong>: על הפעלה מ 30 מקטעים או יותר
                        </li>
                        <li>
                            <strong>תעודת מפעיל כל השביל</strong>: על הפעלה מ 46 המקטעים
                        </li>
                    </ul>
                    
                    לעוקבים:
                    <ul>
                        <li>
                            <strong>תעודת עוקב מתחיל</strong>: על יצירת קשר עם 10 מקטעים או יותר
                        </li>
                        <li>
                            <strong>תעודת עוקב מתמיד</strong>: על יצירת קשר עם 20 מקטעים או יותר
                        </li>
                        <li>
                            <strong>תעודת עוקב נחוש</strong>: על יצירת קשר עם 30 מקטעים או יותר
                        </li>
                        <li><strong>תעודת עוקב כל השביל</strong>: על יצירת קשר עם 46 המקטעים</li>
                    </ul>

                    <p>
                        הכנס את אות הקריאה שלך כדי לבדוק זכאות לתעודה:
                    </p>
                    <p>
                        <div class="row">
                            <div class="col-md-4 col-sm-3 col-xs-3">

                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-3">
                                <button data-bind="click: GetWokedSections" type="button" class="btn btn-info"><span class="glyphicon glyphicon-certificate"></span> בדוק</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control" data-bind="value: callsign" placeholder="אות קריאה" type="text" tabindex="1" />
                            </div>
                        </div>
                    </p>
                    <p>
                        <div id="sectionsPanel" data-bind="foreach: linkList" style="direction:ltr">
                            <div class="section" data-bind="css: { worked_section: section }, html: section"></div>
                        </div>
                        <div class="clearfix"></div>
                    </p>
                    <p>
                        <div data-bind="visible:linkList().length < 10 && linkList().length > 0">עבדת מול <label data-bind="text:linkList().length"></label> מקטעים. עוד <span data-bind="text:10-linkList().length"></span> ותהיה זכאי לתעודה!</div>
                        <div data-bind="visible:linkList().length >= 10"><span class="glyphicon glyphicon-ok"></span> ברכות, עבדת מול <label data-bind="text:linkList().length"></label> מקטעים ואתה זכאי לתעודה!</div>
                        <div data-bind="visible:didNotWork"><span class="glyphicon glyphicon-star"></span> עוד לא עבדת אף מקטע, להשתמע!</div>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i5">
                        Awards
                    </a>
                </h4>
            </div>
            <div id="i5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        Radio operators that would work this special callsign, may ask for a nice certificate (The activators are responsible for uploading their logs so you won't have to).<br />
                        We will issue awards to stations working 10, 20, 30 and all 46 "Israel National Trail" sections.
                    </p>
                    <!--<img src="assets/img/trail_view.jpg" width="100%" />-->
                    <p>
                        Enter your callsign to check your eligibility:
                    </p>
                    <p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control" data-bind="value: callsign" placeholder="Your Call" type="text" tabindex="1" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-3">
                                <button data-bind="click: GetWokedSections" type="button" class="btn btn-info"><span class="glyphicon glyphicon-certificate"></span> Check</button>
                            </div>
                        </div>
                    </p>
                    <p>
                        <div id="sectionsPanel" data-bind="foreach: linkList">
                            <div class="section" data-bind="css: { worked_section: section }, html: section"></div>
                        </div>
                        <div class="clearfix"></div>
                    </p>
                    <p>
                        <div data-bind="visible:linkList().length < 10 && linkList().length > 0">You have worked <label data-bind="text:linkList().length"></label> sections. <span data-bind="text:10-linkList().length"></span> more and your are eligable for an award!</div>
                        <div data-bind="visible:linkList().length >= 10"><span class="glyphicon glyphicon-ok"></span> Congratulations, you have worked <label data-bind="text:linkList().length"></label> sections and your are eligable for an award!</div>
                        <div data-bind="visible:didNotWork"><span class="glyphicon glyphicon-star"></span> You did not work any section yet.. Hope to hear you on the air soon!</div>
                    </p>
                </div>
            </div>
        </div>

        
    </div>
    <!--/row-fluid-->
    <!--<div class="tag-box tag-box-v2">
        <p>שביל ישראל הוא נתיב הליכה ארוך שנמשך לאורך כל מדינת ישראל, המתחיל בבית אוסישקין שבקיבוץ דן בצפון ומסתיים בבית ספר שדה אילת, על חוף מפרץ אילת. אורכו היום, לאחר השינויים שבוצעו בו במהלך השנים, הוא כ-1,040 קילומטרים. שביל ישראל הוא גולת הכותרת ברשת סימון השבילים הארצית שיזמה ויצרה החברה להגנת הטבע, המסמנת וממפה את כל מסלולי הטיול בארץ, על ידי הוועדה לשבילי ישראל.</p>
        <p>(השביל נחנך בפסח, אפריל 1995, לאחר כ-16 שנות עבודה ודיונים על התוואי. הרעיון הועלה בראשית שנות השמונים על ידי אברהם תמיר, שהתרשם משביל האפלצ'ים בארצות הברית. את הרעיון העביר תמיר לאורי דביר שתכנן וביצע‏. בתכנונו הושם דגש על מתן ייצוג לכל נופי ואזורי הארץ וכן על מעבר באתרים חשובים לכל הדתות. השביל מהווה מעין שלד לשאר שבילי הטיול בארץ שרבים מהם יוצאים ממנו. בשונה מסימון השבילים הנפוץ בארץ, פס צבעוני בין שני פסים לבנים, מסומן שביל ישראל באמצעות שלושה פסים מקבילים במדורג: לבן, כחול וכתום. הסימון הוא מדורג - כאשר הפס הלבן עליון, כיוון ההליכה צפונה ואילו כאשר הכתום עליון דרומה (יש הסוברים שהלבן מייצג את החרמון המושלג והכתום מייצג את המדבר‏</p>
        <p>לכל אורכו, שביל ישראל נמצא בתחומי הקו הירוק. בשנת 2003 הוסט חלק מתוואי השביל באזור השרון משפלת ההר לכיוון הים. הסיבות העיקריות להסטה זו הן התפתחות כביש חוצה ישראל (כביש מספר 6) שדרס קטעים מהשביל, הימנעות מסיכון ההולכים לאורך קו התפר והרצון להוסיף נופי ערים וחוף ים. שינויים מהותיים נוספים נעשו בשביל באזור הנגב, משום שהתוואי הקודם כלל קטעים ארוכים לאורך כביש 40 לשם הימנעות מכניסה לשטחי האש הרבים משני עבריו.</p>
        <p>שביל ישראל נבחר כאחד מ-20 מסלולי ההליכה הטובים ביותר על ידי נשיונל ג'אוגרפיק, ותואר על ידי צוות השופטים כמשלב טבע, היסטוריה, מורשת ותרבות עם "נופים תנ"כיים בקנה מידה גדול וכן [נופים] מחיי היום-יום של הישראלים המודרניים"‏</p>
        <a href="https://he.wikipedia.org/wiki/%D7%A9%D7%91%D7%99%D7%9C_%D7%99%D7%A9%D7%A8%D7%90%D7%9C" target="_blank"> מתוך ויקיפדיה</a>
    </div>-->
    <div class="row" style="margin-top:20px;direction:ltr">
        <div class="col-md-3 col-sm-12">
            <div id="map_display">
                <div style="background-image:url(assets/img/israel_map.jpg); background-size: 260px; background-repeat:no-repeat; height:640px">
                    <span style="top:20px;left:197px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=260" alt="שביל ישראל: מקיבוץ דן לקיבוץ כפר גלעדי" title="שביל ישראל: מקיבוץ דן לקיבוץ כפר גלעדי">1</a></span>
                    <span style="top:20px;left:187px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=259" alt="שביל ישראל: מכפר גלעדי למושב רמות נפתלי" title="שביל ישראל: מכפר גלעדי למושב רמות נפתלי">2</a></span>
                    <span style="top:42px;left:185px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=258" alt="שביל ישראל: ממושב רמות נפתלי לקיבוץ ברעם" title="שביל ישראל: ממושב רמות נפתלי לקיבוץ ברעם">3</a></span>
                    <span style="top:50px;left:170px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=257" alt="שביל ישראל: מקיבוץ ברעם לחניון נחל עמוד" title="שביל ישראל: מקיבוץ ברעם לחניון נחל עמוד">4</a></span>
                    <span style="top:63px;left:173px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=256" alt="שביל ישראל: מחניון נחל עמוד לעין נון" title="שביל ישראל: מחניון נחל עמוד לעין נון">5</a></span>
                    <span style="top:84px;left:179px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=255" alt="שביל ישראל: מעין נון לכנרת מושבה" title="שביל ישראל: מעין נון לכנרת מושבה">6</a></span>
                    <span style="top:103px;left:186px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=254" alt="שביל ישראל: מכנרת מושבה לכפר קיש" title="שביל ישראל: מכנרת מושבה לכפר קיש">7</a></span>
                    <span style="top:112px;left:171px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=253" alt="שביל ישראל: מכפר קיש להר יונה" title="שביל ישראל: מכפר קיש להר יונה">8</a></span>
                    <span style="top:103px;left:159px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=252" alt="שביל ישראל: מהר יונה לאלון הגליל" title="שביל ישראל: מהר יונה לאלון הגליל">9</a></span>
                    <span style="top:98px;left:144px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=251" alt="שביל ישראל: מאלון הגליל לקיבוץ יגור" title="שביל ישראל: מאלון הגליל לקיבוץ יגור">10</a></span>
                    <span style="top:100px;left:127px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=250" alt="שביל ישראל: מקיבוץ יגור לעין הוד" title="שביל ישראל: מקיבוץ יגור לעין הוד">11</a></span>
                    <span style="top:107px;left:110px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=249" alt="שביל ישראל: מעין הוד לרמת הנדיב" title="שביל ישראל: מעין הוד לרמת הנדיב">12</a></span>
                    <span style="top:131px;left:110px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=248" alt="שביל ישראל: מרמת הנדיב לחדרה" title="שביל ישראל: מרמת הנדיב לחדרה">13</a></span>
                    <span style="top:148px;left:105px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=247" alt="שביל ישראל: מחדרה לחוף פולג" title="שביל ישראל: מחדרה לחוף פולג">14</a></span>
                    <span style="top:176px;left:97px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=246" alt="שביל ישראל: מחוף פולג לתל אביב" title="שביל ישראל: מחוף פולג לתל אביב">15</a></span>
                    <span style="top:203px;left:90px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=245" alt="שביל ישראל: מתל אביב לכפר סירקין" title="שביל ישראל: מתל אביב לכפר סירקין">16</a></span>
                    <span style="top:207px;left:108px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=244" alt="שביל ישראל: מכפר סירקין לגמזו" title="שביל ישראל: מכפר סירקין לגמזו">17</a></span>
                    <span style="top:230px;left:110px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=243" alt="שביל ישראל: מגמזו למסילת ציון" title="שביל ישראל: מגמזו למסילת ציון">18</a></span>
                    <span style="top:251px;left:118px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=242" alt="שביל ישראל: ממסילת ציון לקיבוץ צובה" title="שביל ישראל: ממסילת ציון לקיבוץ צובה">19</a></span>
                    <span style="top:254px;left:131px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=241" alt="שביל ישראל: מקיבוץ צובה לצור הדסה" title="שביל ישראל: מקיבוץ צובה לצור הדסה">20</a></span>
                    <span style="top:263px;left:128px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=240" alt="שביל ישראל: מצור הדסה לנתיב הל''ה" title="שביל ישראל: מצור הדסה לנתיב הל''ה">21</a></span>
                    <span style="top:269px;left:115px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=239" alt="שביל ישראל: מנתיב הל''ה לבית גוברין" title="שביל ישראל: מנתיב הל''ה לבית גוברין">22</a></span>
                    <span style="top:281px;left:104px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=238" alt="שביל ישראל: מבית גוברין לתל קשת" title="שביל ישראל: מבית גוברין לתל קשת">23</a></span>
                    <span style="top:293px;left:88px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=236" alt="שביל ישראל: מתל קשת לקיבוץ דבירה" title="שביל ישראל: מתל קשת לקיבוץ דבירה">24</a></span>
                    <span style="top:313px;left:95px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=235" alt="שביל ישראל: מקיבוץ דבירה למיתר" title="שביל ישראל: מקיבוץ דבירה למיתר">25</a></span>
                    <span style="top:327px;left:109px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=234" alt="שביל ישראל: ממיתר להר עמשא" title="שביל ישראל: ממיתר להר עמשא">26</a></span>
                    <span style="top:324px;left:129px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=233" alt="שביל ישראל: מהר עמשא לערד" title="שביל ישראל: מהר עמשא לערד">27</a></span>
                    <span style="top:338px;left:143px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=232" alt="שביל ישראל: מערד לחניון באר אפעה" title="שביל ישראל: מערד לחניון באר אפעה">28</a></span>
                    <span style="top:356px;left:143px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=231" alt="שביל ישראל: מבאר אפעה לחניון מצד תמר" title="שביל ישראל: מבאר אפעה לחניון מצד תמר">29</a></span>
                    <span style="top:375px;left:146px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=230" alt="שביל ישראל: מחניון מצד תמר למכתש הקטן" title="שביל ישראל: מחניון מצד תמר למכתש הקטן">30</a></span>
                    <span style="top:390px;left:135px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=229" alt="שביל ישראל: מהמכתש הקטן לחניון מפעל אורון" title="שביל ישראל: מהמכתש הקטן לחניון מפעל אורון">31</a></span>
                    <span style="top:393px;left:119px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=228" alt="שביל ישראל: ממפעל אורון לחניון נחל מדור" title="שביל ישראל: ממפעל אורון לחניון נחל מדור">32</a></span>
                    <span style="top:405px;left:108px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=227" alt="שביל ישראל: מחניון מדור/עפרן לחוד עקב" title="שביל ישראל: מחניון מדור/עפרן לחוד עקב">33</a></span>
                    <span style="top:405px;left:96px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=226" alt="שביל ישראל: מחוד עקב לחניון נחל חווה" title="שביל ישראל: מחוד עקב לחניון נחל חווה">34</a></span>
                    <span style="top:423px;left:104px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=225" alt="שביל ישראל: מחניון נחל חווה למצפה רמון" title="שביל ישראל: מחניון נחל חווה למצפה רמון">35</a></span>
                    <span style="top:441px;left:92px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=223" alt="שביל ישראל: ממצפה רמון לחניון הר סהרונים" title="שביל ישראל: ממצפה רמון לחניון הר סהרונים">36</a></span>
                    <span style="top:444px;left:106px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=222" alt="שביל ישראל: מהר סהרונים לחניון גב חולית" title="שביל ישראל: מהר סהרונים לחניון גב חולית">37</a></span>
                    <span style="top:438px;left:123px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=221" alt="שביל ישראל: מחניון גב חולית למושב צופר" title="שביל ישראל: מחניון גב חולית למושב צופר">38</a></span>
                    <span style="top:450px;left:139px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=220" alt="שביל ישראל: ממושב צופר לחניון נחל ברק" title="שביל ישראל: ממושב צופר לחניון נחל ברק">39</a></span>
                    <span style="top:473px;left:134px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=219" alt="שביל ישראל: מחניון נחל ברק לצומת ציחור" title="שביל ישראל: מחניון נחל ברק לצומת ציחור">40</a></span>
                    <span style="top:495px;left:116px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=218" alt="שביל ישראל: מצומת ציחור לצומת שיזפון" title="שביל ישראל: מצומת ציחור לצומת שיזפון">41</a></span>
                    <span style="top:532px;left:118px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=217" alt="שביל ישראל: מצומת שיזפון לשחרות" title="שביל ישראל: מצומת שיזפון לשחרות">42</a></span>
                    <span style="top:555px;left:116px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=216" alt="שביל ישראל: משחרות לחניון נחל מנגן" title="שביל ישראל: משחרות לחניון נחל מנגן">43</a></span>
                    <span style="top:570px;left:115px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=215" alt="שביל ישראל: מנחל מנגן לנחל רחם/עתק" title="שביל ישראל: מנחל מנגן לנחל רחם/עתק">44</a></span>
                    <span style="top:587px;left:111px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=214" alt="שביל ישראל: מנחל רחם/עתק להר יהורם" title="שביל ישראל: מנחל רחם/עתק להר יהורם">45</a></span>
                    <span style="top:605px;left:102px;"><a target="_blank" href="http://www.tiuli.com/track_info.asp?track_id=213" alt="שביל ישראל: מחניון הר יהורם לאילת" title="שביל ישראל: מחניון הר יהורם לאילת">46</a></span>
                </div>
            </div>
        </div>
        <div class="col-md-9 hidden-sm hidden-xs">
            <img src="assets/img/trail_view2.jpg" width="100%" />
        </div>
    </div>
</div>


